<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee     http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!--    1.注册一个前端控制器DispatchServlet
    -->

    <servlet>
        <!-- 这里的名字确定了之后，如果不修改spring的默认配置文件，
             那么spring mvc会去web-inf下面去找springmvc-servlet.xml这个文件
        -->
        <servlet-name>springmvc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <!--        <init-param>-->
        <!--            &lt;!&ndash; 可以重新声明配置文件的名字 [servlet name]-servlet.xml = namespace &ndash;&gt;-->
        <!--            <param-name>namespace</param-name>-->
        <!--            <param-value>mvc</param-value>-->
        <!--        </init-param>-->
        <init-param>
            <!-- 上下文位置的配置
                 此时是到类路径下去寻找springmvc.xml这个配置文件而不去web-inf目录寻找
            -->
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:springmvc.xml</param-value>
        </init-param>

    </servlet>

    <!--  2.配置servlet映射, 注册前端控制器目的是让springmvc去处理所有请求 -->
    <servlet-mapping>
        <servlet-name>springmvc</servlet-name>

        <url-pattern>/</url-pattern>
    </servlet-mapping>

</web-app>
